<!--
including header content which is common for all pages
-->
<!-- <%- include layouts/header.ejs %>	 -->

<!--
including footer content which is common for all pages
-->
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Udemy</title>
</head>
<body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Udemy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ">
                    <li class="nav-item active" style="margin-right:30px">
                      <a class="nav-link" href="#">Categories <span class="sr-only">(current)</span></a>
                    </li>
                    <form class="form-inline my-2 my-lg-0">
                        <input style="width:350px" class="form-control mr-sm-2" type="search" placeholder="Search course" aria-label="Search">
                        </form>
                    <li class="nav-item " style="margin-left: 30px;">
                      <a class="nav-link" href="#">Udemy For Business</a>
                    </li>
                    <li class="nav-item" style="margin-left: 30px;">
                      <a class="nav-link" href="#">Become Instructor</a>
                    </li>   
                   
                  </ul>
                  <ul class="nav justify-content-end" style="margin-top:10px">
                      <li class="nav-item">
                      <button style="margin-right:20px" class="btn btn-dark my-2 my-sm-0" type="submit">Log in</button>
                      </li>
                      <li class="nav-item">
                          <button class="btn btn-danger my-2 my-sm-0" type="submit">Sign Up</button>
                          </li>
                    </ul>
                </div>
              </nav>
<!-- start of slideshow-->
<div class="main-header">
        <!-- Content here -->
      </div>
                  <!-- End of slideshow-->
                  <!-- START OF FIST SECTION-->
                  <div class="container-fluid" style=" background-image: url('web.jpg'); background-size: cover;height:500px;background-size: cover;
                  min-height: 100%;
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-position: center;
                  background-size: cover;">
                      <div class="row" style=" background-color:rgba(0, 0, 0, 0.6);height:100%">
                        <div class="col-sm-6" style="padding:5%;margin-top:8%">
                           <h1 style="color:white">Gain access to more than 80,000 courses online </h1<br>
                           <h4 style="color:white">Subscribe to out newsletter to be the first to find out about new courses and even get FREE coupons.</h4><br>
                           <div class="form-group ">
                            <input  style="width:80%" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                           </div>
                          </div>
                      </div>
                  </div>
                  <!-- END OF SECOND SECTION-->

                  <!-- START GARDEANT SECTION OF TARGET ICON AND SO ON-->
                  <div class="row " style=" background-image: linear-gradient(to right,rgb(110, 26, 82),rgb(236, 82, 82));padding:1%">
                      <div class="col-sm-1">
                            <img src="target.png" style="width:70px">
                          </div>
                          <div class="col-sm-3" style="margin-top:2%">
                              <b style="color:white">80,000 online courses</b><br>
                              <a style="color:white">Explore a variety of fresh topics </a>
                            </div>
                            <div class="col-sm-1">
                                <img src="time.png" style="width:70px">
                              </div>
                              <div class="col-sm-3" style="margin-top:2%">
                                  <b style="color:white">Expert instruction</b><br>
                                 <a style="color:white">Find the right instructor for you</a>
                                </div>
                                <div class="col-sm-1">
                                    <img src="chat.png" style="width:70px">
                                  </div>
                                  <div class="col-sm-3" style="margin-top:2%">
                                      <b style="color:white">Lifetime access</b><br>
                                     <a style="color:white">Learn on your schedule</a>
                                    </div>
                  </div>
  <!-- END GARDEANT SECTION OF TARGET ICON AND SO ON-->

                  <!-- START OF AVALIABLE COURSES SAMPLES-->
                <div class="row">
                      <div class="col-sm-4 " style="padding:6%;background:#ededed">
                        <h4>The world’s largest selection of courses</h4>
                        Choose from over 80,000 online video courses with new additions published every month
                        </div>
                        <div class="col-sm-8" style="padding:2%">

                              <ul class="nav nav-pills" style="margin-top:2%">
                                  <li class="nav-item">
                                    <a class="nav-link active"data-toggle="tab"  href="#home">Development</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1">Design</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu2">Business</a>
                                  </li>
                                </ul>
                            
                              <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                  <div class="row">
                                    <div class="col-sm-4" style="margin-top:2%">
                                      <img src="python.jpg" style="width:90%;height:120px">
                                        <b id="link">Complete Python Bootcamp</b><br>
                                        Teacher: David Mills

                                      </div>
                                      <div class="col-sm-4" style="margin-top:2%">
                                          <img src="swift.jpg" style="width:90%;height:120px">
                                          <b id="link">IOS 12 & Swift - The complete Project</b><br>
                                          Teacher: John Mitch 
                                        </div>
                                        <div class="col-sm-4" style="margin-top:2%">
                                            <img src="php.png" style="width:90%;height:120px">
                                            <b id="link">Shopping cart - PHP</b><br>
                                            Teacher: Tom Davis
                                          </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-sm-4" style="margin-top:2%">
                                        <img src="javascript.png" style="width:90%;height:120px">
                                          <b id="link">JavaScript from A-Z</b><br>
                                          Teacher: Alex ki
  
                                        </div>
                                        <div class="col-sm-4" style="margin-top:2%">
                                            <img src="android.png" style="width:90%;height:120px">
                                            <b id="link">Learn android from scratch</b><br>
                                            Teacher: Li Shang
                                          </div>
                                          <div class="col-sm-4" style="margin-top:2%">
                                              <img src="c.jpg" style="width:90%;height:120px">
                                              <b id="link">Become a c# developer</b><br>
                                              Teacher: Mosh Hamdani
                                            </div>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                  <h3>Design Tab</h3>
                                  </div>
                                <div id="menu2" class="tab-pane fade">
                                  <h3>Business Tab</h3>
                                  </div>
                              </div>
                            </div>
                </div>
                 <!-- END OF AVALIABLE COURSES SAMPLES-->
                 
                
                
                
                <form action="/add" method="post" name="form1">
                   <% if (messages.error) { %>
                    <p style="color:red"><%- messages.error %></p>
                <% } %>
                        <div class="container-fluid" style=" background-image: url('background.jpeg'); background-size: cover;
                        min-height: 100%;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-position: center;
                        background-size: cover;
                        filter: alpha(opacity=50)">
                          <div class="row" style=" background-color:rgba(0, 0, 0, 0.6);height:100%">
                            <div class="col-sm-3" style="margin-top:2%">
                             
                            </div>
                            <div class="col-sm-6" style="margin-top:2%;padding-top:5%;padding-bottom:5%">
                              <h1 style="color:white;text-align: center">Enquire About A Course</h1><br>
                             
                              <div class="form-group col-sm-6">
                              <input type="text" class="form-control" placeholder="Full Name" name="" id="name" value="<%= name %>" />
                              </div>

                              <div class="form-group col-sm-6">
                              <input type="text" name="age" class="form-control" placeholder="Age" value="<%= age %>" />
                              </div>
                            
                            <div class="form-group col-sm-6">
                            
                            <input type="text" name="email" class="form-control" placeholder="Email" value="<%= email %>" />
                            </div>
                            <div class="form-group col-sm-12">
                              <input type="submit" class="Form-control" class="btn btn-sm btn-success" name="Submit" value="Add" />
                            </div>
                              
                            </div>
                            
                          </div>
                        </div>
                        
                </form>
            <!-- END OF FORM-->
            <% if (messages.error) { %>
                <p style="color:red"><%- messages.error %></p>
            <% } %>
            
            <% if (messages.success) { %>
                <p style="color:green"><%- messages.success %></p>
            <% } %>	
            
            <table width='50%' border=0 class="table table-striped table-sm " >
            
                <tr style='text-align:left; background-color:#CCC'>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                
                <!--
                    Using FOREACH LOOP for the users array
                    
                    myArray.forEach(function(el, index) {
                        // el - current element, i - index
                    });
                -->
                <% if (data) { %>
                <% data.forEach(function(user){ %>
                    <tr <tr class="table-info"></tr>>
                        <td><%= user.name %></td>
                        <td><%= user.age %></td>
                        <td><%= user.email %></td>
                        <td>
                            <div style="float:left">
                                <a href='/users/edit/<%= user.id %>' class="btn btn-sm btn-success" >Edit</a> &nbsp;							
                                <form method="post" action="/<%= user.id %>" style="float:right">
                                    <input type="submit" class="btn btn-sm btn-danger" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                                    <input type="hidden" name="_method" value="DELETE" />
                                </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
                <% } %>
            
            </table>
            
                 <!--TOP CATEGORIES-->
<div class="row" style="padding:2%">
    <div class="container">
        <div class="col-sm-12 ">
  <h2>Top Categories</h2>
          </div>
          <div class="col-sm-1" style="margin:1%"></div>
          <div class="col-sm-3 " id="category">
            <img src="coding.png" width=50>
              <a style="padding-left:15px">Web Development</a>
          </div>
           <div class="col-sm-3 " id="category">
              <img src="business.png" width=50>
                 <a style="padding-left:15px">Business</a>
             </div>
             <div class="col-sm-3 " id="category">
                <img src="photo.png" width=50>
                   <a style="padding-left:15px">Photography</a>
               </div>
               <div class="col-sm-1" style="margin:1%"></div>
               <div class="col-sm-3 " id="category">
                 <img src="computer.png" width=50>
                   <a style="padding-left:15px"> IT & Software</a>
                </div>
                <div class="col-sm-3" id="category">
                   <img src="development.png" width=50>
                     <a style="padding-left:15px"> Personal Development</a>
                  </div>
                  <div class="col-sm-3 " id="category">
                     <img src="music.png" width=50>
                       <a style="padding-left:15px"> Music</a>
                    </div>
               <div class="col-sm-1" style="margin:1%"></div>
               <div class="col-sm-3 " id="category">
                 <img src="design.png" width=50>
                   <a style="padding-left:15px"> Design</a>
                </div>
                <div class="col-sm-3" id="category">
                   <img src="objective.png" width=50>
                     <a style="padding-left:15px"> Marketing</a>
                  </div>
                  <div class="col-sm-3 " id="category">
                     <img src="language.png" width=50>
                        <a style="padding-left:15px">Languages</a>
                    </div>
    </div>
  </div>
  <!--END TOP CATEGORIES-->


<!-- START WHAT STUDENTS HAVE TO SAY-->
<div class="row " style=" background-image: linear-gradient(to right,rgb(110, 26, 82),rgb(236, 82, 82))">
  <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-sm-3" style="padding:5%"></div>
                        <div class="col-sm-6" style="padding:5%">
                     <a style="color:white">"Very explained even for a short course.It's not full understanding, but it works perfectly as an introduction for the subject. And you can really build a robot after taking this course"</a><br><br>
                     <a style="color:white"><i>Studied</i> Robotics for begineers-build time control robot from scratch</a><br>
                     <a style="color:white">Muhammed abdi , Shanghi</a>
                        </div>
                        <div class="col-sm-3" style="padding:5%"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-sm-3" style="padding:5%"></div>
                        <div class="col-sm-6" style="padding:5%">
                     <a style="color:white">"I didn't know anything about facebook ads for this course and bave a client that is wanting to start using them. After taking this course i feel like i can help them and so much more confident in coming up with a strategy"</a><br><br>
                     <a style="color:white"><i>Studied</i> The complete facebook ads training</a><br>
                     <a style="color:white">Muhammed abdi , Shanghi</a>
                        </div>
                        <div class="col-sm-3" style="padding:5%"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-sm-3" style="padding:5%"></div>
                        <div class="col-sm-6" style="padding:5%">
                     <a style="color:white">"After studying German for about six months my spelling and grammer is good, but i was having trouble with some pronounciation. After taking this course it has reallt helped me pronounce certain words i was having trouble with and also have better listening skill of German speakers"</a><br><br>
                     <a style="color:white">Studied The german alphabet</a><br>
                     <a style="color:white">Muhammed abdi , Shanghi</a>
                        </div>
                        <div class="col-sm-3" style="padding:5%"></div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
<!-- END WHAT STUDENTS HAVE TO SAY-->



<!-- Footer-->

<div class="row">
    <div class="col-sm-3 bg-light" style="margin:30px">
      <b id="link">Udemy for bussiness</b><br>
      <b id="link">Become an instructor</b><br>
      <a id="link">Udemy app</a><br>
      </div>
      <div class="col-sm-2 " style="margin:30px">
          <a id="link">About Us</a><br>
          <a id="link">Careers</a><br>
          <a id="link">Blog</a><br>
        </div>
        <div class="col-sm-2 " style="margin:30px">
            <a id="link">Topics</a><br>
            <a id="link">Support</a><br>
            <a id="link">Affiliate</a><br>
          </div>
          <div class="col-sm-2 " style="margin:30px">
              <div class="form-group">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>English</option>
                    <option>French</option>
                    <option>Somali</option>
                    <option>Spanish</option>
                    <option>Arabic</option>
                  </select>
                </div>
            </div>
  </div>

  <div class="row" style="border-top: 1px solid lightgrey">
      <div class="col-sm-8 bg-light" style="margin:30px">
          <div class="col-sm-2">
        <h3>Udemy</h3>
          </div>
          <div class="col-sm-6" style="margin:25px">
          <a> Copyright © 2018 Udemy, Inc. </a>
        </div>  
        </div>
         
  </div>
      <!-- Footer end-->
      <div class="row " style=" background-image: linear-gradient(to right,rgb(110, 26, 82),rgb(236, 82, 82));height:5px">
                  
        </div>
          </div>

              
</body>
</html>
<style>
#category{
  margin:1%;
  box-shadow: 2px 2px 5px grey;
      padding: 1%;
border: none;
background: none;
cursor: pointer;
}
#link{
  cursor: pointer;
  color:rgb(0, 119, 145);
}
</style>
<%- include layouts/footer.ejs %>
